bower_components/angular/*
bower_components/angular-route/*
!bower_components/angular/angular.min.js
!bower_components/angular-route/angular-route.js

bower_components/bootstrap/*.json
bower_components/bootstrap/*.js
bower_components/bootstrap/README.md
bower_components/bootstrap/LICENSE
bower_components/bootstrap/fonts/*
bower_components/bootstrap/grunt/*
bower_components/bootstrap/js/*
bower_components/bootstrap/less/*
bower_components/bootstrap/dist/fonts/*
bower_components/bootstrap/dist/js/*
bower_components/bootstrap/dist/css/*
!bower_components/bootstrap/dist/css/bootstrap.min.css

bower_components/jquery/*
